.startUpLogo {
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100px;
}

.bottomBlockContainer {
  display: flex;
  flex-direction: row;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 0;
  z-index: 0;
}

.bottomBlock {
  display: block;
  background-color: white;
  margin-top: auto;
  width: 100%;
}

.bottomBlock-1 {
  height: 10vh;
}

.bottomBlock-2 {
  height: 15vh;
}

.bottomBlock-3 {
  height: 12.5vh;
}

.shrink-container-appear {
  height: 100vh;
}

.shrink-1-appear {
  height: 100vh;
}

.shrink-2-appear {
  height: 100vh;
}

.shrink-3-appear {
  height: 100vh;
}

.shrink-container-appear.shrink-container-appear-active {
  height: 20vh;
  transition: height 1500ms ease-out 3000ms;
}

.shrink-1-appear.shrink-1-appear-active {
  height: 10vh;
  transition: height 1500ms ease-out 2500ms;
}

.shrink-2-appear.shrink-2-appear-active {
  height: 15vh;
  transition: height 1500ms ease-out 2900ms;
}

.shrink-3-appear.shrink-3-appear-active {
  height: 12.5vh;
  transition: height 1500ms ease-out 2750ms;
}

.call-to-action {
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: #6a5bc7;
}

.call-to-action-text {
  margin-left: 20px;
  margin-right: 20px;
}
